node_modules/
dist/
html/
build/
.git
.vscode
.dockerignore
Dockerfile
*.zip
*.rar
*.tgz
*.txt
*.d.ts
*.map
.env*
*.json
*.blob
*.exe
*.md
src/**/*.js
__tests__/**/*.js

LICENSE
README.md

!package.json
!package-lock.json
!tsconfig.json
!tsconfig.prod.json

!.env.example
