node_modules/
dist/
html/
build/
.git
.vscode
.dockerignore
Dockerfile
*.zip
*.rar
*.tgz
*.txt
*.d.ts
*.map
*.json
*.blob
*.exe
.env*
src/**/*.js
__tests__/**/*.js

!package.json
!package-lock.json
!tsconfig.json

!.env.example
